<!DOCTYPE html>
<html>
<head>
	<title>area de teste</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
		
	</style>
</head>
<body>
<h1>Area de teste</h1>
	<div class="wrapper">
		<nav id="sidebar">
			<!-- Sidebar Header -->
	        <div class="sidebar-header">
	            <h3>Collapsible Sidebar</div>
	        </div>

	        <!-- Sidebar Links -->
	        <ul class="list-unstyled components">
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#">About</a></li>

	            <li><!-- Link with dropdown items -->
	                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
	                <ul class="collapse list-unstyled" id="homeSubmenu">
	                    <li><a href="#">Page</a></li>
	                    <li><a href="#">Page</a></li>
	                    <li><a href="#">Page</a></li>
	                </ul>

	            <li><a href="#">Portfolio</a></li>
	            <li><a href="#">Contact</a></li>
	        </ul>			
		</nav>
		<div id="content">
			<P>
				Lorem Ipsum
				"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				"Não há ninguém que ame a dor por si só, que a busque e queira tê-la, simplesmente por ser dor..."
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada nisl id urna rhoncus, fermentum commodo magna cursus. Sed eu commodo sem. Maecenas convallis ultricies neque, in ultricies leo blandit a. Maecenas molestie nunc non massa imperdiet feugiat. Ut sed vulputate velit. Phasellus in ligula mollis, pulvinar quam et, imperdiet augue. In hac habitasse platea dictumst. Quisque vitae tellus elit. Nulla facilisi. Quisque nec diam at felis condimentum faucibus id gravida tellus. Suspendisse quis maximus ligula. Maecenas eu pellentesque libero. Vestibulum lorem diam, condimentum nec placerat eget, mattis vel nulla. Praesent hendrerit, mi a venenatis semper, velit sem finibus sem, a vestibulum massa nunc at magna.
			</P>
			<P>
				Lorem Ipsum
				"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
				"Não há ninguém que ame a dor por si só, que a busque e queira tê-la, simplesmente por ser dor..."
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada nisl id urna rhoncus, fermentum commodo magna cursus. Sed eu commodo sem. Maecenas convallis ultricies neque, in ultricies leo blandit a. Maecenas molestie nunc non massa imperdiet feugiat. Ut sed vulputate velit. Phasellus in ligula mollis, pulvinar quam et, imperdiet augue. In hac habitasse platea dictumst. Quisque vitae tellus elit. Nulla facilisi. Quisque nec diam at felis condimentum faucibus id gravida tellus. Suspendisse quis maximus ligula. Maecenas eu pellentesque libero. Vestibulum lorem diam, condimentum nec placerat eget, mattis vel nulla. Praesent hendrerit, mi a venenatis semper, velit sem finibus sem, a vestibulum massa nunc at magna.
			</P>			
		</div>
	</div>
	

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>